body{
height: 100%; margin: 0; padding: 0
}
html { height: 100% }
#map-canvas { height: 40%;}
#map-location{ height: 30%;}
.taxi-map{
  height: 50%;
}
blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 15pt;
  border-left: 5px solid #43a047 !important; }


.btn{
  background: #43a047 !important;
}
#my-origin-location{
  font-family: century gothic;
  font-size: 10px;
  font-style: italic;

}
.center-align{

    margin: auto;
    width: 50%;

}

.offline{
  background: red !important;
}

.online {
    background: #43a047 !important;
}

.create-account{
  color: #43a047;
  font-family: century gothic;

  text-decoration: underline;
}

.login-layout{
  width: 100%;
  height: 100%;

}

#remember{
  background: #43a047 !important;
}

.nav-wrapper{
  background: #43a047;
}

.map-cont
{
  height: 100%;
  width: 100%;
}

.main-logo-img
{
  width: 80%;
  height: 50%;

}

p
{
  font-size: 6.5pt;
  font-style: italic;
  font-family: century gothic;
  color: gray;
}

#connection-status
{
  font-weight: bold;
}
.loader
{
  top : 5%;
  width: 20%;
  height: 15%;
}
.brand-logo{
font-family: 'Bungee Outline', cursive;
}
#con
{
  font-family: Century Gothic;
  font-size : 25pt;
  font-weight: bold;
  bottom: 0px;
  text-align: center;
  color: RGB(2,163,36);

}

.loading-div
{

  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

}

.main-nav-container
{
    height: 0%;
}
.main-container
{
height: 100%; margin: 0; padding: 0
}

.footer-container
{position: fixed;
width : 100%;
height: 0%;
bottom: 0;
}
.hide-div{
  visibility: hidden;
}
.show-div{
  visibility: visible !important;
}

.wait
{
  width: 100%;
  height:100%;
}
