<script type="text/javascript">
  Materialize.toast('Please Connect to network', 3000);
  $('.main-container').css('width','100%');
  $('.main-container').css('height','100%');
  $('.main-container').show();
  $('.main-nav-container').hide();
  $('.footer-container').hide();
  var tryConnect = true;
  while (tryConnect) {
    try {
      var conn = new ajaxClass('GET', 'connection', '', '#');
      if(conn.getJSON().status == 1){
        tryConnect = false;
        controller('start');
      }
    } catch (e) {
      tryConnect = true;
    }
  }
</script>
<div class="container">
    <div class="row">
        <img src="img/logo.png" alt="">
    </div>
    <div class="row">
        <h3>No Connection</h3>
    </div>
</div>
