<script type="text/javascript">
  $('.footer-container').show();
</script>

<div class="container" id="input-pw-form">
  <div  style="
     margin-top:35%; width:100%; background:white;">
    <div class="container">
        <div class="row">
            <div class="input-field">
              <input id="login-as-username" type="password">
              <label for="login-as-username">Password:</label>
            </div>
            <center><a href="#" class="btn">Continue</a></center>
        </div>
    </div>
  </div>
</div>
