<script type="text/javascript">

$('#cab-dialog').fadeIn();

var promptText = "Im in " + MyTripRequest.getOrigin() + " and im going to " + MyTripRequest.getDestination() + " </br> Can you pick me up? </br> -" + MyTripRequest.getName();
$('#request-text').append(promptText);
var promptReq = setInterval(waitReqRes,2000);

function waitReqRes(){
  var tripReqDet = new ajaxClass('GET', 'get-request-status', 'id=' + MyTripRequest.getReqId(), '#');
  if(tripReqDet.getJSON().status == 'waiting'){
    //wait
  }else {
    clearInterval(promptReq);
    $('#cab-dialog').html("");
    $('#cab-dialog').hide();
  }
}

$('#accept-req').click(function(){

//  clearInterval(this.promptReq);
  var acceptNow = new ajaxClass('GET', 'accept-trip-request', 'driver=' + MyInfo.getUserId() +  '&taxi-acc=' + MyTaxi.getAccNo()  +'&taxi=' + MyTaxi.getTaxiId() + '&trip=' + MyTripRequest.getTripId() + '&trip-req=' + MyTripRequest.getReqId(), '#');
  var acceptedJSON = acceptNow.getJSON();
  if(acceptedJSON.status=='success'){
      clearInterval(promptReq);
      MyTrip = new Trip();
      MyTrip.setTripByObj(acceptedJSON);
      $('#cab-dialog').html("");
      $('#cab-dialog').hide();


      //Load TRIP MAP AND DETAILS
      dashboardView = 'trip';

      controller('load-footer');

  } else {
    appToast('Fail Accepting Request',3000);
    $('#cab-dialog').html("");
    $('#cab-dialog').hide();
  }

});

$('#decline-req').click(function(){
  var declineNow = new ajaxClass('GET', 'response-request-trip', 'id=' + MyTripRequest.getReqId() + 'status=' + 'rejected', '#');
  if(declineNow.getJSON().status =='success'){
    appToast('Trip Rejected',3000);
    clearInterval(promptReq);
    $('#cab-dialog').html("");
    $('#cab-dialog').hide();
  } else {
    appToast('Error Declining', 3000);
  }
});

</script>

<div id="req-form" style="width:100%; height:100%;">
  <div class="row">
    <div class="col s12 m6">
      <div class="card green darken-2">
        <div class="card-content white-text">
          <span class="card-title">HEY!</span>
          <p id="request-text"></p>
        </div>
        <div class="card-action">
          <a href="#" id="accept-req">Accept</a>
          <a href="#" id="decline-req">Decline</a>
        </div>
      </div>
    </div>
  </div>
</div>
