<script type="text/javascript">
$('.button-collapse').sideNav('hide');
$('.main-nav-container').hide();
  var ctr = 0, x = 0, again = true;
  document.getElementById('count').innerHTML = x;

  while(again){
    ctr++;

    if(ctr == 1000){
      x++;
      document.getElementById('count').innerHTML = x;
      ctr = 0;
    }
  }

  $('#stop').click(function(){
    again = false;
  });


</script>


<div class="row">
  <center>
    <h1 id="count"></h1>
  </center>
</div>
<div class="">
  <center>
    <a href="#" id="stop" >stop</a>
  </center>
</div>
