<script type="text/javascript">

  $('#cab-dialog').fadeIn();

  $('#accept-arrival').click(function(){
    //Show Begin Trip
        $('#cab-dialog').html("");
        $('#cab-dialog').hide();
  });

  var arrivalMsg = new ajaxClass('GET', 'get-user-details', 'id=' + MyTrip.getDriver(), '#');
  var msgJSON = arrivalMsg.getJSON();
  document.getElementById('arrival-text').innerHTML = "Hey, " + MyInfo.getFname() + "! I arrived at your location. Please send me a MESSAGE or just KNOCK on my TAXI!";
  document.getElementById('arrival-sender').innerHTML = "-" + msgJSON.driver_details.fname;


</script>

<div id="arrival-form" style="width:100%; height:100%;">
  <div class="row">
    <div class="col s12 m6">
      <div class="card green darken-1">
        <div class="card-content white-text">
          <span class="card-title">Arrived!</span>
          <p id="arrival-text"></p> </br>
          <p id="arrival-sender"></p>
        </div>
        <div class="card-action">
          <a href="#" id="accept-arrival">OK</a>
        </div>
      </div>
    </div>
  </div>
</div>
