<script type="text/javascript">

var tripDet = new ajaxClass('GET', 'get-trip-details', 'id=' + MyTrip.getTripNo(), '#');
var tripDetJSON = tripDet.getJSON();
if(tripDetJSON.status == 'success'){
  document.getElementById('taxi-plate').innerHTML = "Plate#: " + tripDetJSON.plate_no;
  document.getElementById('taxi-name').innerHTML = "CAB-Taxi: " + tripDetJSON.fran_name;
  document.getElementById('driver-name').innerHTML = "CAB-Driver: " + tripDetJSON.name;
  document.getElementById('driver-contact').innerHTML = "Contact: " + tripDetJSON.contact;
  document.getElementById('driver-age').innerHTML = "Age: " + tripDetJSON.age;
}else {
  appToast('Error retrieving trip details', 3000);
}



$('#trip-detail-ok').click(function(){
  $('#cab-dialog').html("");
  $('#cab-dialog').fadeOut();
});

$('#cab-dialog').fadeIn();

</script>





      <div class="card light-green darken-2">
        <div class="card-content white-text">
          <span class="card-title">Trip Details</span>
          <p id="taxi-plate"></p> </br>
          <p id="taxi-name"></p> </br>
          <p id="driver-name"></p> </br>
          <p id="driver-contact"></p> </br>
          <p id="driver-age"></p> </br>
        </div>

        <div class="card-action">
          <a href="#" id="trip-detail-ok">Close</a>
        </div>
      </div>
