
<script type='text/javascript'>
  dashboardView = 'main';
  $('.main-container').show();
  $('.footer-container').hide();
  $('.button-collapse').sideNav('hide');
  $('.main-nav-container').hide();
  $('#map-canvas').hide();
  $('#map-location').hide();
  controller('load-account-details');

</script>
<div class='container'>
  <div class='row'>
    <blockquote>
      <h4>My Account</h4>

    </blockquote>
  </div>
  <div class='row'>
    <div class='col s7 push-s5'><span class='flow-text' id='my-account-fullname'></span></div>
    <div class='col s5 pull-s7' style='background : url('/res/img/unknown.png');'></div>
  </div>
  <div class='row'>
    <div class='col s6 offset-s6'><span class='flow-text' id='my-account-contact'></span></div>
  </div>
  <div class='row'>
    <div class='col s6 offset-s6'><span class='flow-text' id='my-account-bdate'></span></div>
  </div>
  <div class='row'>
    <label for='my-account-username'>Username:</label>
    <input type='text' id='my-account-username' value='' disabled='true'>
  </div>
  <div class='row'>
    <label for='my-account-pw'>Password:</label>
    <input type='password' id='my-account-pw' value='' disabled='true'>
  </div>
  <div class='row'>
    <div class='col s6 push-s6'>    <a href='#' class='btn' onclick='controller('load-update-account-form')'>Update</a></div>
    <div class='col s6 pull-s6' ><a href='#' class='btn' onclick='controller('load-dashboard')'>Back</a></div>
  </div>
</div>
