

  <div class="col s12">
  <div class="card small">
    <div class="card-image">
      <center><img src='img/logo.png' style="width:100%; height:100%;"></center>
      <span class="card-title" style="color:#757575;">Sorry :(</span>
    </div>
    <div class="card-content">
      <p class="flow-text">Unexpected error, Please try again later.. </p>
    </div>
  </div>
  </div>
