
<script type="text/javascript">
  $('.footer-container').css('height', '0%');
  $('.main-nav-container').css('height', '0%');

  $('#map-canvas').hide();
  $('#map-location').hide();
  $('.main-nav-container').hide();
  $('.footer-container').hide();
  $('.main-container').show();
  $('.main-container').css('height', '100%');

  $('#forgot-pw').click(function(){
    $('#login-main').hide();
    $('#forgot-pw-form').fadeIn();
  });

  $('#forgot-back').click(function(){
    $('#forgot-pw-form').fadeOut();
    $('#login-main').show();
  });

</script>
  <div id="login-main">
    <div class='row container' style="height:70%">
      <center>
        <img src='img/logo.png' class='container' alt=''>
      </center>
      <form class='col s12' action='#' method='post'>
        <div class='row'>
          <div class='input-field col s12'>
            <input id='login-username' type='text'>
            <label for='username'>Username:</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input id='login-pw' type='password' class='validate'>
            <label for='email'>Password:</label>
          </div>
        </div>
        <div class='row'>
          <center>
            <a class='create-account' onclick="controller('show-registration-form')">Sign up?</a>
          </center>
        </div>


      </form>
    </div>

<div class='row container'>
  <div class='row'>
    <center>
      <a class='waves-effect waves-light btn col s12' onclick="controller('set-account')">Login</a>
    </center>
  </div>

  <div class='row'>
    <center>
      <a id='forgot-pw' class='create-account'">Forgot Password?</a>
    </center>
  </div>

  <div class="row">
        <p style="font-weight:bold; text-align:center;">
          CAB - APP
        </br>
          All Rights Reserved 2016 ©
        </p>
  </div>
</div>
  </div>



<div class="container" id="forgot-pw-form" style="margin-top:45%; display:none;">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content grey-text">
          <span class="card-title">Terms and condition</span>
          <div class="row">
            <div class="input-field">
              <input id="login-as-pw" type="password">
              <label for="login-as-pw">Email:</label>
            </div>
          </div>
          <div class="row">
              <p>We will send you a verification code to your email as your temporary password to access your account..</p>
          </div>
        </div>
        <div class="card-action">
          <a href='#'  id="forgot-back">Back</a>
          <a href='#'  id="forgot-continue">Continue</a>
        </div>
      </div>
    </div>
  </div>
</div>
