<script type="text/javascript">

    $('.footer-container').hide();
    $('.main-nav-container').hide();

    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 45 // Creates a dropdown of 15 years to control year
    });



    $('#driver').click(function(){
      document.getElementById('commuter').checked=false;
    });
    $('#commuter').click(function(){
      document.getElementById('driver').checked=false;
    });

    $('#driver-card').click(function(){
      $('#driver-card').removeClass('grey lighten-1');
      $('#driver-card').addClass('teal darken-4');
      $('#commuter-card').removeClass('green darken-4');
      $('#commuter-card').addClass('grey lighten-1');

      document.getElementById('driver').checked=true;
      document.getElementById('commuter').checked=false;
    });
    $('#commuter-card').click(function(){
      $('#commuter-card').removeClass('grey lighten-1');
      $('#commuter-card').addClass('green darken-4');
      $('#driver-card').removeClass('teal darken-4');
      $('#driver-card').addClass('grey lighten-1');
      document.getElementById('driver').checked=false;
      document.getElementById('commuter').checked=true;
    });

</script>

<div class="container">
  <blockquote>
    Registration Form
  </blockquote>
      <div class="row" >
        <div class="col s6 m5" >
          <div class="card grey lighten-1" id="commuter-card">
            <div class="card-content white-text">
              <span class="card-title"></span>
                <p>I'm a commuter!</p>
            </div>
            <div class="card-action">
              <input type="checkbox" id="commuter" value="1"/>
              <label for="commuter" style="font-size:8pt;">Commuter</label>
            </div>
          </div>
        </div>

          <div class="col s6 m5" >
            <div class="card grey lighten-1" id="driver-card">
                <div class="card-content white-text">
                  <span class="card-title"></span>
                  <p>I'm a Driver!</p>
                </div>
                <div class="card-action">
                  <input type="checkbox" id="driver" value="0"/>
                  <label for="driver" style="font-size:8pt;">Driver</label>
                </div>
            </div>
        </div>
      </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="reg_fname" type="text" class="validate">
          <label for="reg_fname">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="reg_mname" type="text" class="validate">
          <label for="reg_mname">Middle Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="reg_lname" type="text" class="validate">
          <label for="reg_lname">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="reg_email" type="email" class="validate">
          <label for="reg_email" data-error="Invalid email.." data-success="Valid email..">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="reg_pw" type="password" class="validate">
          <label for="reg_pw">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label for="reg_bdate">Birthdate</label>
          <input type="date" class="datepicker" id="reg_bdate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="reg_contact" type="tel" class="validate">
          <label for="reg_contact">Contact</label>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card transparent z-depth-4">
            <div class="card-content grey-text">
              <span class="card-title">Terms and condition</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            </div>
            <div class="card-action">
              <input type="checkbox" id="agree" value="0"/>
              <label for="agree" style="font-size:8pt;">Agree</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
<!--  Button -->
  <div class="row">
    <div class="container">
      <a href="#"  class="waves-effect waves-light btn col s4 red darken-4" onclick="controller('show-login-form')">Back</a>
      <a href="#"  class="waves-effect waves-light btn col s8" onclick="controller('check-registration-input')">Register</a>
    </div>
  </div>


</div>
