<script type="text/javascript">

  $('#cab-dialog').fadeIn();

  $('#taxi-cancel-arrival').click(function(){
    //Cancel
        $('#cab-dialog').html("");
        $('#cab-dialog').hide();
  });

  $('#taxi-confirm-arrival').click(function(){
    //Show Begin Trip
    //update the trip status to 2
  //  MyCabMap.stopWatch();

    $('#cab-dialog').html("");
    $('#cab-dialog').hide();
    var arrivalStatus = new ajaxClass('GET', 'update-trip-status', 'id=' + MyTrip.getTripNo() + '&status=3', '#');
    if(arrivalStatus.getJSON().status == 'success'){
      //load map and start trip button
      //clearInterval(mapUpdate);
      $('.footer-container').html("");
      dashboardView = 'on-trip';
      controller('load-footer');
    }else {
      appToast('Error: Arrival Status', 3000);
    }
  });

  document.getElementById('taxi-arrival-text').innerHTML = "Click the `Confirm` button to continue. the passenger will recieve notification that you arrived their location.";
  document.getElementById('taxi-arrival-sender').innerHTML = "-CAB";
</script>

<div id="arrival-dialog" style="width:100%; height:100%;">
  <div class="row">
    <div class="col s12 m6">
      <div class="card green darken-1">
        <div class="card-content white-text">
          <span class="card-title">Arrived?</span>
          <p id="taxi-arrival-text"></p> </br>
          <p id="taxi-arrival-sender"></p>
        </div>
        <div class="card-action">
          <a href="#" id="taxi-confirm-arrival">Confirm</a>
          <a href="#" id="taxi-cancel-arrival">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
