<script type="text/javascript">
var myTaxiCoor = new ajaxClass('GET', 'get-taxi-location', 'id=' + MyTrip.getTaxi(), '#');
var myTaxiCoorJSON = myTaxiCoor.getJSON();
var myDuration = new ajaxClass('GET', 'get-distance', 'origin=' + MyLocation.getLat() + ',' + MyLocation.getLang() + '&dest=' + myTaxiCoorJSON.lat + ',' + myTaxiCoorJSON.lang, '#');
var myDurationJSON = myDuration.getJSON();
document.getElementById('eta').innerHTML = "CAB-ETA: " + myDurationJSON.duration;

</script>


<ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle" >new_releases</i>
    <span class="title" style='font-size:10px; font-weight: bold;'>Pre-details</span>
    <p id="eta">Calculating..</p><br>
    <p id="ecf"></p>
    </p>
  </li>
</ul>
