<script type="text/javascript">

  $('#cab-dialog').fadeIn();

  var tripRate = 0;

  $('#star-1').click(function(){
    tripRate = 1;
    setRate($('#star-1'));
    removeRate($('#star-2'));
    removeRate($('#star-3'));
    removeRate($('#star-4'));
    removeRate($('#star-5'));
  });
  $('#star-2').click(function(){
    tripRate = 2;
    setRate($('#star-2'));
    setRate($('#star-1'));
    removeRate($('#star-3'));
    removeRate($('#star-4'));
    removeRate($('#star-5'));
  });
  $('#star-3').click(function(){
    tripRate = 3;
    setRate($('#star-1'));
    setRate($('#star-2'));
    setRate($('#star-3'));
    removeRate($('#star-4'));
    removeRate($('#star-5'));
  });
  $('#star-4').click(function(){
    tripRate = 4;
    setRate($('#star-1'));
    setRate($('#star-2'));
    setRate($('#star-3'));
    setRate($('#star-4'));
    removeRate($('#star-5'));
  });
  $('#star-5').click(function(){
    tripRate = 5;
    setRate($('#star-1'));
    setRate($('#star-2'));
    setRate($('#star-3'));
    setRate($('#star-4'));
    setRate($('#star-5'));
  });


  function setRate(val){
    val.removeClass('grey');
    val.addClass('green');
  }
  function removeRate(val){
    val.removeClass('green');
    val.addClass('grey');
  }

  function submitRate(){
    if(tripRate == 0){
        appToast('Please set your rating',5000);
    }else {
      var submitRating = new ajaxClass('GET', 'rate-trip', 'id=' + MyTrip.getTripNo() + '&val=' + tripRate, '#');
      if(submitRating.getJSON().status == 'success'){
          appToast('Thank you!', 3000);
          $('#cab-dialog').hide();
          $('#cab-dialog').html("");

          dashboardView = 'main';
          controller('load-dashboard');
      }else {
        appToast('Please try again!', 3000);
      }

    }
  }
</script>

<div id="arrival-dialog" style="width:100%; height:100%;">
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey lighten-5">

        <div class="card-content green-text">
          <span class="card-title" id="cab-dialog-title">Rate your Trip!</span></br></br></br>
            <center><div>
            <a class="btn-floating btn-medium waves-effect waves-light grey" id="star-1"><i class="material-icons">grade</i></a>
            <a class="btn-floating btn-medium waves-effect waves-light grey" id="star-2"><i class="material-icons">grade</i></a>
            <a class="btn-floating btn-medium waves-effect waves-light grey" id="star-3"><i class="material-icons">grade</i></a>
            <a class="btn-floating btn-medium waves-effect waves-light grey" id="star-4"><i class="material-icons">grade</i></a>
            <a class="btn-floating btn-medium waves-effect waves-light grey" id="star-5"><i class="material-icons">grade</i></a>
          </div></center>
        </div>
        <div class="card-action" id="cab-dialog-action">
          <!-- Append HTML Action -->
          <a onclick="submitRate()">Submit</a>
        </div>
      </div>
    </div>
  </div>
</div>
