<script type="text/javascript">
  $('#cab-dialog').fadeIn();
  $('#cab-dialog-title').html("");
  $('#cab-dialog-text').html("");
  $('#cab-dialog-sender').html("");
  $('#cab-dialog-action').html("");

  try {
    document.getElementById('cab-dialog-title').innerHTML = DialogObj.title;
    document.getElementById('cab-dialog-text').innerHTML = DialogObj.text;
    document.getElementById('cab-dialog-sender').innerHTML = DialogObj.sender;
    $('#cab-dialog-action').append(DialogObj.action);
    } catch (e) {
    appToast(e);
  }

</script>


<div id="arrival-dialog" style="width:100%; height:100%;">
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <span class="card-title" id="cab-dialog-title"></span>
          <p id="cab-dialog-text"></p> </br>
          <p id="cab-dialog-sender"></p>
        </div>
        <div class="card-action" id="cab-dialog-action">
          <!-- Append HTML Action -->
        </div>
      </div>
    </div>
  </div>
</div>
