<script type="text/javascript">
  $('.button-collapse').sideNav('hide');
  $('#map-canvas').hide();
  $('.main-container').show();
</script>

<div class="container">
  <div class="row">
    <blockquote>
      <h3>Settings</h3>
    </blockquote>
  </div>

  <div class="row">
    <label for="on">ON</label>
    <input type="radio" id="on">
    <label for="off">OFF</label>
    <input type="radio" id="off">
  </div>

  <div class="row">
    <table>
      <tr>
        <td>Emergency Contact</td> <td><a href="#">ADD</a></td>
      </tr>
      <tr>
        <td><h1 id="counter-ex">0</h1></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col s6 push-s6" ><a href="#" class="btn" onclick="controller('count-sample')">Count</a></div>
    <div class="col s6 pull-s6" ><a href="#" class="btn" onclick="controller('load-dashboard')">Back</a></div>
  </div>
</div>
