
<script type="text/javascript">
//Fetch details of driver(s) of this taxi
var tempDriverId = '';


function loginAsForm(id){
  document.getElementById('login-as-pw').value = '';
  $('#taxi-driver-login-container').hide();
  $('#input-pw-form').fadeIn();
  tempDriverId = id;
}

//Function to populate Driver Collection
if(MyTaxi.getNumberOfDrivers() > 0){
  appToast('Choose your account',3000);
  for(var i=0; i < MyTaxi.getNumberOfDrivers(); i++){
    var driverDetails = new ajaxClass('GET', 'get-user-details', 'id=' + MyTaxi.getDrivers()[i], '#');
    var detailsJSON = driverDetails.getJSON();
    var lastLogin = new ajaxClass('GET', 'get-driver-last-login', 'id=' + detailsJSON.driver_details.id, '#');
    var driverCollection = "<li class='collection-item avatar'><a href='#' onclick='loginAsForm("+ detailsJSON.driver_details.id + ")'><i class='material-icons circle'>perm_identity</i><span>"+ detailsJSON.driver_details.fname +"</span><p>Last Logged in <br>"+lastLogin.getJSON().time+"</p></a></li>";
    $('#driver-list-login').append(driverCollection);

  }
}else {
    appToast('Oops, No Driver available', 3000);
}

$('#pw-cancel').click(function(){
  $('#input-pw-form').hide();
  $('#taxi-driver-login-container').show();
});

$('#pw-login').click(function(){
  var myDriver = new ajaxClass('GET', 'login-as', 'id=' + tempDriverId + '&pw=' + document.getElementById('login-as-pw').value + '&taxi=' + MyTaxi.getTaxiId(), '#');
  var myDriverJSON = myDriver.getJSON();

  switch (myDriverJSON.login_status) {
    case 'success':
                    //Login and show dashboard
                    MyInfo = new UserInfo(myDriverJSON);
                    //Insert new taxi_driver_logs detailsJSON
                    var myTaxiDriverLogsReq = new ajaxClass('GET', 'new-taxi-driver-logs', 'taxi=' + MyTaxi.getTaxiId() + '&driver=' + tempDriverId, '#' );
                    var myTaxiDriverLogsJSON = myTaxiDriverLogsReq.getJSON();

                    switch (myTaxiDriverLogsJSON.status) {
                      case 'success':
                        MyTaxiDriverLogs = new TaxiDriverLogs();
                        MyTaxiDriverLogs.setTaxiDriverLogs(myTaxiDriverLogsJSON);
                        break;

                      case 'unfinished' :
                        MyTaxiDriverLogs = new TaxiDriverLogs();
                        MyTaxiDriverLogs.setTaxiDriverLogs(myTaxiDriverLogsJSON);
                        appToast('Logs Loaded..');
                      break;

                      default :
                        appToast(myTaxiDriverLogsJSON.status);
                      break;

                    }

                    dashboardView = 'main';
                    controller('load-dashboard');
    break;

    case 'is-online' :
                    var checkTD = new ajaxClass('GET', 'get-latest-taxi-driver-logs', 'taxi=' + MyTaxi.getTaxiId() + '&driver=' + tempDriverId, '#');
                    var checkTDJSON = checkTD.getJSON();
                    if(checkTDJSON.status == 'unfinished'){

                      MyInfo = new UserInfo(myDriverJSON);

                      MyTaxiDriverLogs = new TaxiDriverLogs();
                      MyTaxiDriverLogs.setTaxiDriverLogs(checkTDJSON);
                      dashboardView = 'main';
                      controller('load-dashboard');
                    } else {
                      appToast('Oops!, Taxi is currently Online!',3000);
                    }
      break;

    case 'no data' :

      appToast('Incorrect Email or Password', 3000);
    break;
    default :
      //appToast(myDriverJSON.login_status, 4000);
      appToast('Error Encountered', 3000);
      break;
  }

});

$('#back-login').click(function(){
  appToast('Logging out',3000);
  MySession.clearSession();
  controller('show-login-form');
});
  $('#input-pw-form').hide();//hide when loaded;


</script>

<div id="taxi-driver-login-container">
  <nav class='light-green lighten-1' role='navigation'>
    <div class='nav-wrapper container'>
      <a href='#' class='brand-logo'>Login as:</a>
    </div>
  </nav>

  <div class="row">
      <ul class="collection" id="driver-list-login">
            <!-- Load Account of Drivers -->
      </ul>
  </div>

    <div class="row">
      <div class="col s12" ><a href="#" class="waves-effect waves-light btn col s12 red" id="back-login">Change User</a></div>
    </div>
</div>


    <div class="container" id="input-pw-form" style="margin-top:45%">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <div class="input-field">
                <input id="login-as-pw" type="password">
                <label for="login-as-pw">Password:</label>
              </div>
            </div>
            <div class="card-action">
              <a href='#'  id="pw-cancel">Back</a>
              <a href='#'  id="pw-login">Continue</a>
            </div>
          </div>
        </div>
      </div>
    </div>
